<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type = "text/css" href="/stylesheets/style.css">
  </head>
  <body>
      <div class="ui fluid five item menu">
          <div class="header item"> <i class= "instagram icon"></i>Instagram   </div>
          <a href="/" class="item"> Home </a>
          <a href="/new" class="item">Post New Image</a>
          <a href="/user/signup"class="item" > Create a New User</a>
          <a href="/user/login"class="item">Login</a>
      </div>
